/* ============= */
/* GENERAL */
/* ============= */

* {
 margin: 0;
 padding: 0;
 color: white;
}

body {
    background-color: black;
    overflow-x: hidden;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-container svg {
    padding-right: 1rem;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.small-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

/* ============= */
/* Main Containers*/
/* ============= */

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.sidebar {
    background-color: rgb(30, 28, 66);
    color: white;
    grid-area: 1 / 1 / 3 / 2;
    border-right: 1px solid rgb(150, 150, 228);
}

.header {
    background-color: rgb(36, 34, 80);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
    z-index: 2;
    padding: 1rem;
}

.main-content-container {
    background-color: rgb(30, 29, 49);
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
}

/* ============= */
/* Sidebar CSS */
/* ============= */

.sidebar {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    padding: 1rem;
}

.sidebar svg {
    stroke: white;
    width: 1.5rem;
    height: 1.5rem;
}

.sidebar h2 {
    color: rgb(188, 168, 245)
}

.sidebar .logo {
    stroke: rgb(188, 168, 245);
}

.settings-support-privacy-container {
    margin-top: 1rem;
}

.title-container {
    margin-bottom: 1rem;
}

/* ============= */
/* Header CSS */
/* ============= */

.header-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem 0 1rem;
}

.user-info-container {
    grid-area: 1 / 4 / 2 / 5;
}

.header-greeting-container {
    grid-area: 1 / 1 / 3 / 2;
}

.watch-rune-ball-container {
    grid-area: 2 / 2 / 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.header-btn-container {
    grid-area: 2 / 4 / 3 / 5;
}

.header .search-bar-container {
    grid-area: 1 / 2 / 2 / 4;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    flex: 2;
    gap: .5rem;
}

.header .user-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    font-family: 'Noto Sans', sans-serif;
    padding-top: .5rem; 
    font-weight: bold;
}

.header svg {
    width: 1.25rem;
    height: 1.25rem;
}

.header input[type=text], .header input[type=text]:focus-visible, .header input[type=text]:hover {
    border: none;
    border-radius: 9px;
    padding: .2rem;
    background-color: #f5f5f5;
    outline: none;
    color: black;
}

.header-greeting-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
    flex: 2;
}

.header-greeting-container div:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
    align-self: center;
    margin-right: .5rem;
}

.header-greeting-container div:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
    align-self: end;
}

.header-greeting-container h1 {
    grid-area: 2 / 2 / 3 / 5;
    align-self: start;
}

.header-greeting-container h1 {
    font-size: 2rem;
}

.header-btn-container {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.header-btn-container button {
    width: 5rem;
    height: auto;
    background-color: rgb(150, 150, 228);
    border: none;
    padding: .5rem;
    border-radius: 150px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

.watch-rune-ball-container button {
    flex: 1;
    background-color: rgb(150, 150, 228);
    border: none;
    padding: .5rem;
    border-radius: 150px;
    color:rgb(253, 207, 89);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
}

/* ======================== */
/* Main-content General CSS */
/* ======================== */

.player-container {
    grid-area: 1 / 1 / 3 / 3;
    display: flex;
    flex-direction: column;
    max-height: 80%;
    overflow: scroll;
    box-shadow: rgb(0 0 0) 0px 8px 6px -6px;
}

.player-container::-webkit-scrollbar {
    display: none;
}

.announcement-container {
    grid-area: 1 / 3 / 2 / 4;
}

.trending-user-container {
    grid-area: 2 / 3 / 4 / 4
}

.announcement-container, .trending-user-container {
    padding-right: .75rem;
}

/* ============================= */
/* Main-content Player Cards CSS */
/* ============================= */

.player-container > div:first-child {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.card-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 1rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    background-color: rgb(36, 34, 80);
    padding: 1rem;
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.336);
}

.player-picture-container {
    display: flex;
    justify-content: center;
    align-self: center;
}

.current-team-container {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}

.card-container img {
    width: 50%;
    align-self: center;
}

.card-container > h2, .card-container > p {
    margin-bottom: .5rem; 
}

.card-container > div {
    align-self: flex-end;
}

.card-container h2 {
    color: rgb(253, 207, 89);
}

.card-container svg {
    stroke: white;
    width: 1.5rem;
    height: 1.5rem;
}

/* ============================== */
/* Main-content announcements + user-containers CSS */
/* ============================== */

.announcement-container div, .trending-user-container div  {
    font-size: 1.25rem;
    font-weight: bold;
}

.announcement-container > div:first-child, .trending-user-container > div:first-child {
    margin-bottom: .5rem;
}

.event-container, .user-container {
    background-color: rgb(150, 150, 228);
    border-radius: 9px;
}

.event-container h3, .user-container h3 {
    font-size: 1rem;
}

.event-container p, .user-container p {
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: .1px;
}

.event-container div {
    padding: 1rem;
    position: relative;
    z-index: 1;
}

.event-container div:not(:last-child):before {
    content: "";
    position: absolute;
    left    : 1rem;
    bottom  : 0;
    height  : 1px;
    width   : 75%;
    border-bottom: 1px solid black;
}

/* ============================== */
/* Main-content trending CSS */
/* ============================== */

.user-container {
    display: flex;
    flex-direction: column;
}

.user-container div {
    padding: .25rem .5rem .25rem .5rem;
    margin: .25rem 0;
}

.trending-user-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.trending-user-grid-container div {
    grid-area: 1 / 1 / 3 / 2;
    align-self: center;
}

.trending-user-grid-container h3 {
    grid-area: 1 / 2 / 2 / 4;
    align-self: end;
}

.trending-user-grid-container p {
    grid-area: 2 / 2 / 3 / 4;
    align-self: start;
}